#ourWorksPageDetailThird {
    margin-top: 84px;
    padding-bottom: 32px;

    @media screen and (max-width: 992px) {
        margin-top: 70px;
    }

    .custom-pagination {
        display: none;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            aspect-ratio: 1/1;
            border-radius: 100px;
            background: #E6E6E6 !important;
            opacity: 1;

        }

        .swiper-pagination-bullet-active {
            background: #989898 !important;
        }

        @media screen and (max-width: 992px) {
            display: flex;

        }

    }

    .mySwiperBoxDetail {
        width: 100%;

        .works-swiper {
            position: relative;
            width: 100%;

            .swiper-pagination {
                display: none;



            }


        }

    }

    .textWrapperDetail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;

        @media screen and (max-width: 992px) {
            padding: 0 16px;
            margin-bottom: -12px;
        }

        h2 {
            font-weight: 500;
            font-size: 24px;
            color: var(--title-text-color);

            @media screen and (max-width: 992px) {
                font-size: 24px;
            }
        }

        .buttonBox {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;

            @media screen and (max-width: 992px) {
                display: none;
            }

            button {
                display: flex;
                width: 40px;
                height: 40px;
                background: transparent;
                padding: 6px 13px;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                border: 1px solid var(--button-border-color-first);
            }
        }
    }
}