#ourWorksPageDetailSecond {
    margin-top: 84px;

    @media screen and (max-width: 992px) {
        margin-top: 70px;
    }

    .ourWorksTexts {
        width: 100%;
        padding: 0 8px;

        @media screen and (max-width: 992px) {
            padding: 0 16px;
        }

        ul {
            li {
                margin-bottom: 80px;
                display: flex;
                align-items: start;
                padding-bottom: 48px;
                border-bottom: 1px solid var(--text-border-bottom-color);
                justify-content: space-between;

                @media screen and (max-width: 992px) {
                    padding-bottom: 32px;
                    flex-direction: column;
                    justify-content: start;
                    gap: 16px;
                    margin-bottom: 40px;

                }

                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--title-text-color-second);

                    @media screen and (max-width: 992px) {
                        font-size: 16px;

                    }
                }

                p {
                    color: #1A1A1A;
                    color: var(--subtitle-text-color-third);
                    width: 75%;
                    font-size: 24px;
                    font-weight: 500;

                    @media screen and (max-width: 992px) {
                        font-size: 18px;
                        width: 95%;


                    }

                    @media screen and (max-width: 575px) {
                        width: 100%;


                    }
                }
            }
        }
    }
}