#ourWorksPage {
  padding-top: 68px;

  .ourWorks {
    padding-top: 20px;

    @media screen and (max-width: 992px) {
      padding-top: 0px;


    }
  }

  @media screen and (max-width: 992px) {
    margin-top: 24px;

  }

  .listState {
    font-weight: 600;
    font-size: 35px;
    color: var(--text-color-third);
    text-align: center;
    margin-top: 20px;

    @media screen and (max-width: 992px) {
      font-size: 30px;
    }
  }

  .filteringBox {
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 992px) {
      margin-top: 20px;
      width: 100%;
      justify-content: space-between;
    }

    @media screen and (max-width: 575px) {
      flex-direction: column;
    }

  }

  .textWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8px 0;

    @media screen and (max-width: 992px) {
      padding: 10px 16px 0;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }



    h2 {
      font-weight: 600;
      font-size: 35px;
      color: var(--text-color-third);

      @media screen and (max-width: 992px) {
        font-size: 30px;
      }
    }

    .select {
      border: 1px solid #e4e4e4;
      padding: 0 16px;
      min-width: 180px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      border-radius: 8px;
      position: relative;
      cursor: pointer;
      user-select: none;
      transition: border-color .2s ease;

      @media screen and (max-width: 992px) {
        font-size: 12px;
      }

      @media screen and (max-width: 575px) {
        min-width: 100%;
      }

      &.open {

        .icon {
          transform: rotate(180deg);
        }
      }

      .icon {
        font-size: 16px;
        transition: transform .2s ease;
      }

      /* ▼ Dropdown menu */
      .menu {
        position: absolute;
        top: calc(100% + 8px);
        right: 0;
        z-index: 5;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, .12);
        padding: 8px 0;
        min-width: 180px;
        padding: 6px 10px;



        @media screen and (max-width: 520px) {
          min-width: 100%;
        }

        z-index: 50;
      }

      .item {
        width: 100%;
        text-align: left;
        padding: 12px 16px;
        background: transparent;
        margin-bottom: 5px;
        border: none;
        outline: none;
        font-size: 14px;
        color: var(--select-color);
        cursor: pointer;
        border-radius: 8px;

        &:first-child {
          margin-top: 5px;
        }

        &:last-child {
          margin-bottom: 0px;
        }

        &:hover {
          background: #f7f6f6;


        }

        &.active {
          background: #f7f6f6;
        }
      }

      .option {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        color: var(--select-color);

        @media screen and (max-width: 520px) {
          font-size: 16px;
        }
      }

      .icon {
        font-size: 16px;
      }
    }
  }
}