#ourWorksPage {
  padding-top: 50px;
  margin-top: 14px;

  @media screen and (max-width: 992px) {}

  .textWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8px 0;

    @media screen and (max-width: 992px) {
      padding: 10px 16px 0;
    }

    h2 {
      font-weight: 600;
      font-size: 35px;
      color: var(--text-color-third);

      @media screen and (max-width: 992px) {
        font-size: 30px;
      }
    }

    .select {
      border: 1px solid var(--select-border-color);
      padding: 0 16px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      border-radius: 8px;

      @media screen and (max-width: 992px) {
        font-size: 12px;
      }

      .option {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        color: var(--select-color);
      }

      .icon {
        font-size: 16px;
      }
    }
  }
}