:root[data-theme='light'] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --text-color-secondary: #527FE9;
  --hover-color: #F7F7F7;
  --hover-color-secondary: #393939;
  --accordion-text-color: #527FE9;
  --accordion-text-color-secondary: #898989;
  --line-color: #CCCCCC;
  --text-color-third: #D9D9D9;
  --select-border-color: #ADADAD;
  --select-color: #4D4D4D;
  --work-card-color: #B8B8B8;
  --about-text: #969696;
  --title-text-color: #333;
  --button-border-color-first: #9C9C9C;
  --title-text-color-second: #666;
  --subtitle-text-color-third: #1A1A1A;
  --text-border-bottom-color: #C2C2C2;

}