#aboutPageSecond {
    margin-top: 80px;

    @media screen and (max-width:992px) {
        margin-top: 70px;

    }

    .container {
        padding: 0 8px;

        @media screen and (max-width:992px) {
            padding: 0 16px;

        }

        .aboutSecond {

            .aboutSecondTexts {
                text-align: center;
                margin-bottom: 60px;

                @media screen and (max-width:992px) {
                    margin-bottom: 32px;

                }

                h2 {
                    margin-bottom: 24px;
                    color: #000;
                    text-align: center;
                    font-size: 40px;
                    font-weight: 700;

                    .span1 {
                        background: linear-gradient(140deg, var(--Blue-1, #3EB7E8) 0.33%, var(--Blue-2, #4c6fbf) 80%, var(--Blue-3, #5b77ba) 59.67%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        /* Safari dışındaki tarayıcılar için */
                        text-fill-color: transparent;
                    }

                    .span2 {
                        color: var(--Yellow, #FB0);
                    }

                    @media screen and (max-width:992px) {
                        margin-bottom: 12px;
                        font-size: 32px;


                    }
                }

                .text134 {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        color: #4D4D4D;
                        text-align: center;
                        font-family: Poppins;

                        font-size: 18px;
                        width: 55%;
                        font-weight: 400;

                        @media screen and (max-width:1200px) {
                            width: 60%;


                        }

                        @media screen and (max-width:1100px) {
                            width: 65%;


                        }

                        @media screen and (max-width:992px) {
                            margin-bottom: 12px;

                            width: 100%;


                        }
                    }
                }

            }

            .aboutSecondCards {
                display: flex;
                align-items: end;
                justify-content: center;
                gap: 24px;
                width: 100%;

                @media screen and (max-width:992px) {
                    flex-direction: column;

                }

                .cards {
                    width: 244px;

                    @media screen and (max-width:992px) {
                        width: 100%;
                        height: 408px !important;


                    }

                    .number {
                        color: #000;
                        text-align: center;
                        font-size: 40px;
                        font-weight: 500;

                        @media screen and (max-width:992px) {
                            font-size: 50px;



                        }
                    }

                    .text {
                        color: #000;
                        text-align: center;
                        font-size: 20px;
                        font-weight: 400;

                        @media screen and (max-width:992px) {
                            color: #666;
                            font-size: 20px;



                        }
                    }

                    .svg {

                        display: flex;
                        align-items: center;
                        justify-content: center;


                    }
                }

                .card1 {

                    padding: 32px 20px 50px 20px;
                    height: 360px;


                    border-radius: 20px;
                    background: var(--About, linear-gradient(203deg, #E9F9FF 0.95%, #E5F8FF 25.47%, #D6F4FF 50%, #E5F8FF 74.53%, #E9F9FF 99.05%));

                    .svg {
                        margin-top: 58px;

                        img {
                            width: 130px;
                            height: 130px;
                            flex-shrink: 0;
                            aspect-ratio: 1/1;

                            @media screen and (max-width:992px) {
                                width: 160px;
                                height: 160px;
                                flex-shrink: 0;
                                aspect-ratio: 1/1;



                            }
                        }
                    }

                }

                .card2 {
                    height: 320px;
                    padding: 32px 20px 26.146px 19px;

                    border-radius: 20px;
                    background: var(--About, linear-gradient(203deg, #E9F9FF 0.95%, #E5F8FF 25.47%, #D6F4FF 50%, #E5F8FF 74.53%, #E9F9FF 99.05%));

                    .svg {
                        margin-top: 20px;

                        img {
                            width: 140px;
                            height: 132.135px;
                            flex-shrink: 0;

                            @media screen and (max-width:992px) {
                                width: 160px;
                                height: 151.011px;

                            }
                        }
                    }

                }

                .card3 {
                    height: 270px;
                    padding: 24px 41px 24px 40px;

                    border-radius: 20px;
                    background: var(--hgj, linear-gradient(0deg, #FFF9E5 0%, #FFF9E5 33.85%, #FFFAEB 68.92%, #FFFCF5 100%));

                    .svg {
                        margin-top: 26px;

                        img {
                            width: 76px;
                            height: 76px;
                            flex-shrink: 0;
                            aspect-ratio: 1/1;

                            @media screen and (max-width:992px) {
                                width: 140px;
                                height: 140px;
                                flex-shrink: 0;
                                aspect-ratio: 1/1;

                            }
                        }

                        @media screen and (max-width:992px) {
                            margin-top: 60px;




                        }
                    }
                }

                .card4 {

                    height: 320px;
                    padding: 32px 20px 36px 20px;
                    border-radius: 20px;
                    background: var(--About, linear-gradient(203deg, #E9F9FF 0.95%, #E5F8FF 25.47%, #D6F4FF 50%, #E5F8FF 74.53%, #E9F9FF 99.05%));

                    .svg {
                        margin-top: 42px;

                        img {
                            width: 100px;
                            height: 100px;
                            flex-shrink: 0;
                            aspect-ratio: 1/1;

                            @media screen and (max-width:992px) {
                                width: 140px;
                                height: 140px;
                                aspect-ratio: 1/1;

                            }
                        }
                    }
                }

                .card5 {
                    height: 360px;

                    padding: 40px 20px 55px 20px;
                    background: var(--About, linear-gradient(203deg, #E9F9FF 0.95%, #E5F8FF 25.47%, #D6F4FF 50%, #E5F8FF 74.53%, #E9F9FF 99.05%));

                    border-radius: 20px;

                    .svg {
                        margin-top: 53px;

                        img {
                            width: 140px;
                            height: 140px;
                            flex-shrink: 0;
                            aspect-ratio: 1/1;

                            @media screen and (max-width:992px) {
                                width: 160px;
                                height: 160px;
                                aspect-ratio: 1/1;

                            }
                        }
                    }
                }
            }
        }

    }
}